<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>chargeEV</string>
		<key>Description</key>
		<string>EV charging</string>
		<key>Length</key>
		<real>8</real>
        <key>Image</key>
        <string>WTEVButton.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>doLaundry</string>
		<key>Description</key>
		<string>Laundry</string>
		<key>Length</key>
		<integer>2</integer>
        <key>Image</key>
        <string>WTLaundryButton.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>doDishes</string>
		<key>Description</key>
		<string>Dishes</string>
		<key>Length</key>
		<real>1</real>
        <key>Image</key>
        <string>WTDishesButton.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>custom</string>
		<key>Description</key>
		<string>Custom</string>
		<key>Length</key>
		<real>1</real>
        <key>Image</key>
        <string>WTCustomButton.png</string>
	</dict>
</array>
</plist>
